html {
    font-family: 'Kodchasan', sans-serif;
    background-color: #8FBCDB;
}

#leftbanner {
    height: 100%;
    width: 15%;
    top: 0%;
    left: 0%;
    position: fixed;
    overflow-x: hidden;
    background-image: url("images/background/wolverine.jpg");
    opacity: 0.3;
    float: left;
}

#rightbanner {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 15%;
    margin-right: -15%;
    overflow-x: hidden;
    background-image: url("images/background/wolverine.jpg");
    opacity: 0.3;
}

#content {
    margin-left: 14.7%;
    margin-right: 18%;
}

.logo {
    height: 100px;
}

.footer {
    position: fixed;
    height: 85px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #153450;
    text-align: center;
    z-index: 2;
}

.title {
    padding-left: 40%;
}

#contacts {
    padding-top: 15px;
}

#copyright {
    border-top: 10px;
    padding: 10px;
    color: white;
    font-size: 11px;
    font-style: italic;
}

a.footerlink {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.contact {
    width: 25px;
    margin-left: 5px;
}

.skills {
    height: 50px;
}

#header {
    margin-top: 50px;
    padding-left: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#timeline {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 5%;
    display: inline-block;
    background-color: #447294;
    margin-left: auto;
    margin-right: auto;
}

#studies {
    margin-bottom: 50px;
    padding-left: 25%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#projects {
    margin-bottom: 50px;
    padding-left: 5%;
    width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: #447294;
}

#skills {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: 100px;
}

#project-box {
    margin: auto;
    width: 100%;
}

#project-title {
    font-weight: bold;
}

#project-detail {
    font-style: italic;
}

.main-column {
    float: left;
    width: 700px;
    padding-right: 25px;
    padding-left: 20%;
}

.title-column {
    width: 150px;
}

#it-column {
    width: 300px;
    float: left;
}

#soft-skill-column {
    width: 300px;
    margin-left: 400px;
}

#goldencars {
    color: gold;
    text-decoration: none;
}