/* Main working canvas, stylizes font and style of content */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* Gives the entire page a background color */
html {
    background-color: #8FBCDB;
}

/* Ensures there are no visible margins */
body {
    margin: 0;
}

/* Builds a grid style content box with three columns.
   A middle one for the content and two banners to the side. */
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

/* Floating left ensures all boxes will be side to side */
.banner {
    float: left;
    background-color: #153450;
    opacity: 0.3;
}

.content-column {
    float: left;
    overflow: hidden;
    display: grid;
}

/* Centers the content */
.header-row {
    margin: auto;
}

.content-row {
    display: grid;
}

.darker-shade {
    background-color: #447294;
}

.content-box {
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
}

.inner-grid {
    display: grid;
}

.card {
    display: grid;
    grid-template-columns: 75% 25%;
}

.hidden {
    display: none;
}

.skills-row {
    margin: auto;
    width: 600px;
    padding-bottom: 100px;
}

.arrow-box {
    margin-top: 10px;
    margin-left: 10px;
}

/* Text */
h1, h3, h4 {
    text-align: center;
}

.title {
    font-weight: bold;
}

.date {
    font-style: italic;
}

/* Graphics */

.arrow {
    width: 25px;
}

.flipped {
    transform: scaleY(-1);
}

.company-logo {
    height: 100px;
    margin: auto;
}

.skill-logo {
    height: 50px;
}

#skills {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: 100px;
}

#project-title {
    font-weight: bold;
}



.title-column {
    width: 150px;
}

.footer {
    position: fixed;
    height: 85px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #153450;
    text-align: center;
    z-index: 2;
}

.contacts {
    padding-top: 15px;
}

.copyright {
    border-top: 10px;
    padding: 10px;
    color: white;
    font-size: 11px;
    font-style: italic;
}

a.footerlink {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.contact-logo {
    width: 25px;
    margin-left: 5px;
}

.slideshow-container {
    margin: auto;
}

.slide {
    margin-left: 25px;
}

.prev {
    transform: rotate(270deg);
}

.next {
    transform: rotate(90deg);
    margin-left: 150px;
}

.screenshot {
    width: 500px;
}