/* Main working canvas, stylizes font and style of content */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/* Gives the entire page a background color */

html {
    background-color: #8FBCDB;
}

/* Ensures there are no visible margins */

body {
    margin: 0;
}

/* Builds a grid style content box with three columns.
   A middle one for the content and two banners to the side. */

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

/* Floating left ensures all boxes will be side to side */

.banner {
    float: left;
    background-color: #1a4061;
}

.content-column {
    float: left;
    overflow: hidden;
    display: grid;
}

/* Centers the content */

.header-row {
    margin: auto;
}

.content-row {
    display: grid;
}

.darker-shade {
    background-color: #447294;
}

.content-box {
    margin-left: 25%;
    margin-right: 25%;
    display: grid;
}

.inner-grid {
    display: grid;
}

.card {
    display: grid;
    grid-template-columns: 75% 25%;
}

.hidden {
    display: none;
}

.last-row {
    padding-bottom: 100px;
}

.skills-row {
    margin: auto;
    width: 600px;
    padding-bottom: 100px;
}

.arrow-box {
    margin-top: 10px;
    margin-left: 10px;
}

/* Text */

h1, h3, h4 {
    text-align: center;
}

.title {
    font-weight: bold;
}

.date {
    font-style: italic;
}
.center-text {
    text-align: center;
}

/* Graphics */

.arrow {
    width: 25px;
    cursor: pointer;
}

.arrow a {
    position: relative;
}

.arrow a:active {
    top: 2px;
}

.flipped {
    transform: scaleY(-1);
}


.company-logo {
    height: 100px;
    margin: auto;
}

.skill-logo {
    height: 30px;
}

.skill {
    margin: auto;
    font-size: 12px;
    padding-bottom: 10px;
}

.dirt-white {
color: #e8e4c9;
}

#project-title {
    font-weight: bold;
}

.title-column {
    width: 150px;
}

.footer {
    position: fixed;
    height: 85px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #153450;
    text-align: center;
    z-index: 2;
}

.contacts {
    padding-top: 15px;
}

.copyright {
    border-top: 10px;
    padding: 10px;
    font-size: 11px;
    font-style: italic;
}

/* Link costumization */
.menu-link {
    text-decoration: none;
}

.footer-link {
    text-decoration: none;
    padding-right: 10px;
}

.contact-logo {
    width: 25px;
    margin-left: 5px;
}

.slideshow-container {
    margin: auto;
}

.slide-grid {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.slide {
    margin-left: 25px;
}

.prev {
    margin-top: 200%;
    transform: rotate(90deg);
}

.next {
    margin-top: 200%;
    margin-left: 50%;
    transform: rotate(270deg);
}

.screenshot {
    width: 500px;
}

.fixed-banner {
    position: fixed;
    display: block;
}