@media only screen and (min-width: 768px) {
    /* Navigation Bar */
    nav {
        display: initial;
        position: fixed;
        top: 5vh;
        height: 100%;
        text-decoration: none;
    }
    nav a {
        display: block;
        text-align: center;
        position: relative;
        margin: 15px;
        border-radius: 25px;
        padding: 15px;
        color: #000;
        background-color: #0abcf9;
        background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-decoration: none;
        transition: all 0.3s ease-in;
    }
    nav a:active {
        top: 2px;
        box-shadow: none;
    }
    nav a:hover {
        color: #DFE1FB;
        transition: all 0.3s ease-in;
    }
    header {
        margin-bottom: 25vh;
        padding-top: 20vh;
    }
    /* Main Content Area */
    main {
        font-size: initial;
    }
    section {
        margin-bottom: 25vh;
        margin-left: 25vw;
    margin-right: 25vw;
    }
    .skillset {
        margin-left: 10vw;
    }
    /* Footer Area */
    footer {
        height: 100vh;
        padding-top: 40vh;
        padding-left: 40vw;
        font-size: initial;
    }
    footer a {
        padding-bottom: 5%;
    }
    .contact-logo {
        width: 50px;
    }
}