@import url("https://fonts.googleapis.com/css?family=Abel");

body {
  background: linear-gradient(#f85b1a, #202020);
  font-family: Abel, Arial, Verdana, sans-serif;
  color: #fbe20b;
}

main {
  margin-bottom: 10vh;
}

.left {
  width: 30vw;
  float: left;
  margin-top: -1.45rem;
}

.kame {
  width: 50%;
  margin-left: 7vw;
}

.right {
  margin-left: 35vw;
}

.card {
  background: linear-gradient(#072083, #303030);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 6px;
  overflow: hidden;
  margin: 1.5rem;
}

.child {
  padding-left: 10px;
}

footer {
  position: fixed;
  height: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 1vh;
  background-color: #153450;
  text-align: center;
  z-index: 2;
  text-decoration: none;
}
