@import url("https://fonts.googleapis.com/css?family=Abel");

body {
  background: linear-gradient(#f85b1a, #202020);
  font-family: Abel, Arial, Verdana, sans-serif;
  color: #fbe20b;
}

main {
  margin-bottom: 10vh;
}

.sidebar {
  position: fixed;
  width: 30vw;
  background: linear-gradient(#072083, #303030);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 6px;
  margin: 1.5rem;
  margin-top: -0.01rem;
  padding: 15px;
  line-height: 1.8;
}

.card {
  left: 40vw;
  width: 50vw;
  background: linear-gradient(#072083, #303030);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.child {
    padding-left: 10px;
}

footer {
    position: fixed;
    height: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1vh;
    background-color: #153450;
    text-align: center;
    z-index: 2;
    text-decoration: none;
}