/* Main working canvas, stylizes font and style of content */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  background-image: linear-gradient(#04619f, #202020);
}

/* Navigation Bar */

nav {
  display: none;
}

/* Header */

header {
  grid-area: header;
  width: 100vw;
  height: 100vh;
  margin-bottom: 10vh;
  padding-top: 10vh;
  background: url("../resources/images/bg.png") repeat 0 0;
  background-position: left;
  text-align: center;
  animation: slide 20s linear infinite;
}

#bio {
  color: #f4c8ab;
  text-shadow: -1px -1px 0 #3e2007, 1px -1px 0 #3e2007, -1px 1px 0 #3e2007,
    1px 1px 0 #3e2007;
}

h1 {
  font-size: 2em;
  text-align: center;
}

#oculus {
  height: 30vh;
  border-radius: 50%;
  display: block;
  margin: auto;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -400px 0;
  }
}

/* Main Content */

main {
  grid-area: main;
  overflow: hidden;
  display: grid;
  font-size: xx-small;
  color: gold;
}

section {
  display: grid;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: initial;
  text-align: justify;
}

section h3 {
  text-align: center;
}

hr {
  margin-top: 2em;
}

section a {
  color: cyan;
}

article p {
  margin-top: 0;
  font-style: italic;
}

article h4,
h5 {
  margin-bottom: 0;
}

#right-column {
  margin-left: -5vh;
}

.skills {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 15vw;
}

.skills p {
  font-style: initial;
}

.tech {
  margin-right: initial;
}

#certifications article {
  padding-left: 15vw;
}

#contacts {
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: xx-small;
}

#contacts a {
  text-decoration: none;
  color: cyan;
  width: fit-content;
}

#contacts span {
  display: none;
}

.contact-logo {
  width: 35px;
  vertical-align: middle;
}

#donation {
  text-align: center;
}

/* Extra */

#bottom {
  width: 100vw;
  margin-bottom: 15vh;
  padding-top: 5vh;
  animation: fish-slide 50s linear infinite;
  z-index: 1;
}

#angler {
  animation: float 4s ease-in-out infinite;
}

@keyframes fish-slide {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

#secret {
  display: flex;
  justify-content: center;
  padding-bottom: 1vh;
  background: url("../resources/images/desert.png") repeat 0% 60%;
}
