/* Main working canvas, stylizes font and style of content */

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
background-image: linear-gradient(#04619f ,#202020  );

    color: #FFFF00
}

/* Navigation Bar */

nav {
    display: none;
}

/* Header Area */

header {
    grid-area: header;
    width: 100vw;
    height: 100vh;
    margin-bottom: 10vh;
    padding-top: 10vh;
    background: #DFE1FB url('../images/background/email-pattern.png') repeat 0 0;
    background-position: left;
    text-align: center;
    animation: slide 20s linear infinite;
}

#oculus {
    height: 50vh;
    border-radius: 50%;
}

@keyframes slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -400px 0;
    }
}

/* Main Content Area */

main {
    grid-area: main;
    overflow: hidden;
    display: grid;
    font-size: xx-small;
}

section {
    display: grid;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: initial;
    text-align: justify;
}

section h3 {
    text-align: center;
}

article p {
    margin-top: 0;
    font-style: italic;
}

article h4, h5 {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skillset {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 5vw;
}

.skillset p {
    font-style: initial;
}

.column {
    margin-right: 15px;
}

/* Footer Area */

footer {
    grid-area: footer;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    /* background-image: linear-gradient(#434343,#000000); */
    /* background-color: #404040; */
    font-size: xx-small;
}

footer a {
    display: block;
    text-decoration: none;
    color: #e8e4c9;
}

.contact-logo {
    width: 35px;
    vertical-align: middle;
}

.meter {
    display: none;
}